body{
  font-family: "Microsoft YaHei";
}
#yxal{
  width: 1243px;
  background: #fff;
  margin: auto;
  .yxalConter{
    width: 1136px;
    height: 100%;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;

    .yxal_title{
      text-align: center;
      h1{
        color:#26d7bd;
        margin: 23px 0 15px 0;
        font-size: 35px;
        letter-spacing: 5px;
        line-height: 40px;
      }
    }
    .yxal_block{
      a{
        display: block;
        width: 358px;
        height: 250px;
        margin: 0 8px 10px;
        float: left;
        position: relative;

        .blockhover{
          position: absolute;
          width: 358px;
          height: 250px;
          background: #000;
          opacity: 0.3;
        }

        .yxal_text{
          position: absolute;
          width: 272px;
          height: 101px;
          top: 45px;
          left: 43px;
          overflow: hidden;
          padding-top:30px;
          p{
            height: 70px;
            width: 272px;
            font-size: 25px;
            line-height: 35px;
            font-weight: 900;
            color: #fff;
          }
          .none{
            display: none;
          }
          span{
            padding-top: 5px;
            text-align: center;
            width: 272px;
            display: inline-block;
            font-size: 14px;
            color: #fff;
            border-top:1px solid #fff;
          }
        }
      }
      a:hover .yxal_text{
        padding-top:0;
      }
      a:hover .none{
        display: block;
      }

    }
  }
}
