<% include ../header.ejs %>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/stylesheets/jmhz/jmhz.css">
<link rel="stylesheet" href="/stylesheets/rightBar/rightBar.css">
<script src="/lib/jquery-3.1.1.min.js"></script>
<% include ../nav.ejs %>
<% include ../rightBar.ejs %>
<div id="jmhz">
    <div class="jmhz-banner"></div>
     	<div class="team">
            <h2>团队介绍</h2>
            <p>亿街区的核心团队来自百度、阿里巴巴、搜狐等知名网站及远洋地产、华润置地等大型物业公司，互联网及房产物业经验丰富。</p>
        </div>

        <div class="pin">
            <h2>招贤纳士</h2>
            <p>亿街区作为一家不断发展中的互联网公司，实行扁平化管理，为员工提供了极具上升性的发展平台；
            <br/>五险一金、有竞争力的薪酬福利为员工的日常生活带来更稳定的保障。
            <br/>简历投递邮箱：fengsw@sinooceanland.com</p>
            <div class="job" id="putJOB"></div>
        </div>
        <div class="contact">
            <h2>联系我们</h2>
            <div class="ways">
                <b>Tel：</b>+86（10）5083 1293<br>
                <b>Fax：</b>+86（10）5083 1570   <br>
                <b>E-mail：</b>niejj@sinooceanland.com<br>
                <b>Add：</b>北京市朝阳区慈云寺北里210号远洋国际中心E座10层 <br>
                <b>Code：</b>100025  <br>
            </div>
        </div>
    </div>

</div>


<% include ../footer.ejs %>