<% include ../header.ejs %>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/stylesheets/jmhz/jmhz.css">
<link rel="stylesheet" href="/stylesheets/rightBar/rightBar.css">
<script src="/lib/jquery-3.1.1.min.js"></script>
<% include ../nav.ejs %>
<% include ../rightBar.ejs %>
<div id="jmhz">
    <div class="jmhz-banner"></div>
    <div class="jmhz-content">
        <div class="jmhz-nav">
            <button class="btn-jmhz-nav btn-active btn-property">物业加盟</button>
            <button class="btn-jmhz-nav btn-merchant">商家加盟</button>
        </div>

        <div class="jmhz-changable-content">

            <div class="show-property">
                <p class="show-property-intro">亿街区智慧物业管理服务平台通过多种智能终端管理系统，对终端进行用户的数据采集营造大数据中心，收集、整理、分析用户数据，深层次了解用户在智慧物业管理方面的需求，协助提高用户满意。</p>
                <div class="jmhz-property-advantage">
                    <h3>加盟优势</h3>
                    <p>亿街区覆盖住宅、写字楼、社区配套商业、综合商业设施多种业态，拥有超过12万的高净价值用户资源,为商家提供运营架构顺畅而完整的闭环，以及获取盈利与支持的便利性。</p>

                    <div class="property-advantage-items clearfix">
                        <div class="advantage-item clearfix">
                            <span></span>
                            <div>
                                <h4>限时免费</h4>
                                <p>平台各功能的使用、研发、升级等限时免费体验</p>
                            </div>
                        </div>
                        <div class="advantage-item clearfix">
                            <span></span>
                            <div>
                                <h4>独享</h4>
                                <p>提升社区服务品质，提升用户满意度，提升收益</p>
                            </div>
                        </div>
                        <div class="advantage-item clearfix">
                            <span></span>
                            <div>
                                <h4>自主</h4>
                                <p>项目专属微信二维码、独立APP社区安装包，物业管理模块自主选择；粉丝自主沟通管理项目自主赵信行</p>
                            </div>
                        </div>
                        <div class="advantage-item clearfix">
                            <span></span>
                            <div>
                                <h4>支持</h4>
                                <p>平台支持，技术支持，培训支持，数据支持，供应链支持，客服支持</p>
                            </div>
                        </div>
                        <div class="advantage-item clearfix">
                            <span></span>
                            <p>亿街区专为吉盟社区量身打造物业服务平台——亿管家，将全面实现CRM客户关系管理，物业相关的各项管理功能为业主提供便捷、高品质的社区服务</p>
                        </div>
                        <div class="advantage-item clearfix">
                            <img src="" alt=""><img src="/images/jmhz/jmhz-10.png" alt="">
                        </div>

                    </div>
                    <div class="join-us-flow">
                        <h3>加盟流程</h3>
                        <p>亿街区物联，与合作伙伴打造开放共赢的智能硬件生态体系</p>
                        <img src="/images/jmhz/wuyeliucheng.png">
                    </div>
                </div>

            </div>

            <div class="show-merchant">
                <p class="show-merchant-intro">以丰富的用户资源为保障，免费入驻平台。线上秒杀、团购、首单特价等多种玩法与线下社区地推活动相结合，使商品和服务直达目标消费者。</p>
                <div class="jmhz-merchant-advantage">
                    <h3>加盟优势</h3>
                    <p>亿街区覆盖住宅、写字楼、社区配套商业、综合商业设施多种业态，拥有超过12万的高净价值用户资源,为商家提供运营架构顺畅而完整的闭环，以及获取盈利与支持的便利性。</p>
                    <h4>超强的技术力量 —— 只能系统、深层掌握用户需求</h4>
                    <h4>丰富的产品功能 —— 限时购、团购、优惠券多种玩法</h4>
                    <h4>专业的服务团队 —— 多年互联网从业人员经验丰富</h4>
                    <h4>全方位开发平台 —— 五层授权体系、分角色管理入口</h4>
                </div>
                <div class="join-us-process">
                    <h3>加盟流程</h3>
                    <p>亿街区物联，与合作伙伴打造开放共赢的智能硬件生态体系</p>
                    <img src="/images/jmhz/liuchengimg.png">

                </div>

            </div>
        </div>
        <div class="jmhz-contact">
            <div class="jmhz-contact-item">
                <h3>王&nbsp;璐</h3>
                <p>手机：18618205595</p>
                <p>邮箱：wanglu6@sinooceanland.com </p>
            </div>
            <div class="jmhz-contact-item">
                <h3>曲&nbsp;亮</h3>
                <p>手机：13811794912</p>
                <p>邮箱：quliang@sinooceanland.com </p>
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/jmhz/jmhz.js"></script>


<% include ../footer.ejs %>