#xw{
  width: 100%;
  background:#f6f6f6;
  .xw{
    width: 1136px;
    margin: 0 auto;
    height: 500px;
    h1{
      width: 100%;
      text-align: center;
    }
    h3{
      width: 100%;
      text-align: center;
      margin: 15px 0;
      color: #00A686;
    }
    h5{
      width: 100%;
      text-align: center;
      color: #a3a3a3;
    }

    .xw_left{
      float: left;
      width: 378px;
      margin-top: 10px;
      i{
        width: 100%;
        height: 148px;
        float: left;
        background:url("/images/index/index_xw/dontai.png")no-repeat center;
      }
    h2{
      width: 100%;
      text-align: center;
      float: left;
      margin: 10px 0;
      color: #000;
    }
      a:hover h2{
        color: #00A686;
      }
      a:hover i{
        background: url("/images/index/index_xw/dongtai_h.png")no-repeat center;
      }
      ul{
        padding: 10px 50px;
        border-right: 1px solid #000000;
        list-style:disc;
        float: left;
        height: 144px;
        li{
          overflow: hidden;
          text-overflow:ellipsis;
          white-space:nowrap;
          width: 278px;
          padding: 5px 0;
          a{
            color: #878787;
            font-size: 14px;
          }
          a:hover{
            color: #ff1111;
          }
          p{
            float: left;
            width: 100%;
            text-align: center;
          }
          }
        }

    }
    .xw_mid{
      float: left;
      width: 378px;
      margin-top: 10px;
      i{
        width: 100%;
        height: 148px;
        float: left;
        background:url("/images/index/index_xw/baodao.png")no-repeat center;
      }
      h2{
        width: 100%;
        text-align: center;
        float: left;
        margin: 10px 0;
        color: #000;
      }
      a:hover h2{
        color: #00A686;
      }
      a:hover i{
        background: url("/images/index/index_xw/baodao_h.png")no-repeat center;
      }
      ul{
        padding: 10px 50px;
        float: left;
        border-right: 1px solid #000000;
        height: 144px;

        li{
          overflow: hidden;
          text-overflow:ellipsis;
          white-space:nowrap;
          float: left;
          width: 278px;
          padding: 5px 0;
          a{
            color: #878787;
            font-size: 14px;
          }
          a:hover{
            color: #ff1111;
          }
          p{
            float: left;
            width: 100%;
            text-align: center;
          }
        }
      }
    }
    .xw_right{
      float: left;
      width: 378px;
      margin-top: 10px;
      i{
        width: 100%;
        height: 148px;
        float: left;
        background:url("/images/index/index_xw/huodong.png")no-repeat center;
      }
      h2{
        width: 100%;
        text-align: center;
        float: left;
        margin: 10px 0;
        color: #000;
      }
      a:hover h2{
        color: #00A686;
      }
      a:hover i{
        background: url("/images/index/index_xw/huodong_h.png")no-repeat center;
      }
      ul{
        float: left;
        padding: 10px 50px;
        height: 144px;

        list-style-type:disc;
        li{
          text-overflow:ellipsis;
          white-space:nowrap;
          width: 278px;
          padding: 5px 0;
          a{
            color: #878787;
            font-size: 14px;
          }
          a:hover{
            color: #ff1111;
          }
          p{
            float: left;
            width: 100%;
            text-align: center;
          }
        }
      }

      }
    }
  }
