#xw{
  width: 100%;
  background:#f6f6f6;
  .xw{
    width: 1136px;
    margin: 0 auto;
    height: 400px;
    h1{
      width: 100%;
      text-align: center;
    }
    h3{
      width: 100%;
      text-align: center;
      margin: 15px 0;
      color: #00A686;
    }
    h5{
      width: 100%;
      text-align: center;
      color: #a3a3a3;
    }
    .xw_left{
      float: left;
      width: 515px;
      margin-top: 10px;
      i{
        width: 100%;
        height: 148px;
        float: left;
        background:url("/images/index/index_xw/dontai.png")no-repeat center;
      }
    h2{
      width: 100%;
      text-align: center;
      float: left;
      margin: 10px 0;
      color: #000;
    }
      a:hover h2{
        color: #00A686;
      }
      a:hover i{
        background: url("/images/index/index_xw/dongtai_h.png")no-repeat center;
      }
      ul{
        border-left: 1px solid #000000;
      }
    }
    .xw_mid{
      float: left;
      width: 515px;
      text-align: center;
      h2{
        width: 100%;
        text-align: center;
      }
    }
    .xw_right{
      float: left;
      width: 515px;
      text-align: center;
      h2{
        width: 100%;
        text-align: center;
      }
    }
  }
}