* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Microsoft YaHei"; }

ul li {
  list-style: none; }

a {
  text-decoration: none; }

#ptjs {
  width: 1243px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  margin: auto; }
  #ptjs .pyjsConter {
    width: 1136px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden; }
    #ptjs .pyjsConter .ptjs_title {
      height: 131px;
      text-align: center; }
      #ptjs .pyjsConter .ptjs_title h1 {
        margin-top: 23px;
        color: #b8b8b8;
        font-size: 35px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 5px;
        font-family: "SimHei"; }
      #ptjs .pyjsConter .ptjs_title p:nth-child(2) {
        margin: 15px 0 0 0;
        color: #26d7bd;
        font-size: 18px;
        text-align: center;
        font-weight: 300; }
      #ptjs .pyjsConter .ptjs_title p:nth-child(3) {
        margin-top: 10px;
        color: #a3a3a3;
        font-weight: 300;
        text-align: center;
        font-size: 14px; }
    #ptjs .pyjsConter .threeBlock_s .threeBlock {
      width: 260px;
      height: 365px;
      float: left;
      margin-left: 165px; }
      #ptjs .pyjsConter .threeBlock_s .threeBlock .threeBlockLog {
        display: block;
        width: 148px;
        height: 148px;
        margin: 20px auto; }
      #ptjs .pyjsConter .threeBlock_s .threeBlock .threeBlock1Log1 {
      	  background: url("/images/index/index_ptjs/ItemOne.png") no-repeat; }
      #ptjs .pyjsConter .threeBlock_s .threeBlock .threeBlock1Log2 {
      	background: url("/images/index/index_ptjs/ItemTwo.png") no-repeat; }
      #ptjs .pyjsConter .threeBlock_s .threeBlock .threeBlock1Log3 {
      	background: url("/images/index/index_ptjs/ItemThd.png") no-repeat; }
      #ptjs .pyjsConter .threeBlock_s .threeBlock h3 {
        color: #26d7bd;
        margin: 20px auto 0;
        font-size: 25px;
        line-height: 35px;
        text-align: center;
        font-weight: bold; }
    #ptjs .pyjsConter .threeBlock1:hover .threeBlock1Log1 {
    background: url("/images/index/index_ptjs/ItemOne_h.png") no-repeat; }
    #ptjs .pyjsConter .threeBlock2:hover .threeBlock1Log2 {
    background: url("/images/index/index_ptjs/ItemTwo_h.png") no-repeat; }
    #ptjs .pyjsConter .threeBlock3:hover .threeBlock1Log3 {
    background: url("/images/index/index_ptjs/ItemThd_h.png") no-repeat; }
    #ptjs .pyjsConter .threeBlock1:hover h3 {
      color: #ec6c00; }
    #ptjs .pyjsConter .threeBlock2:hover h3 {
      color: #ec6c00; }
    #ptjs .pyjsConter .threeBlock3:hover h3 {
      color: #ec6c00; }
    #ptjs .pyjsConter p {
      margin-top: 10px;
      font-size: 15px;
      color: #a1a1a1;
      line-height: 23px;
      text-align: left; }
    #ptjs .pyjsConter .down div {
      text-align: center;
      width: 108px;
      height: 1px;
      padding-top: 109px;
      color: #b7b7b7;
      font-size: 18px; }
    #ptjs .pyjsConter .down .Android {
      float: left;
      background: url("/images/index/index_ptjs/erweima.jpg") no-repeat; }
    #ptjs .pyjsConter .down .IOS {
      float: right;
      background: url("/images/index/index_ptjs/erweimaxp.jpg") no-repeat; }
    #ptjs .pyjsConter .Android:hover {
      color: #ec6c00; }
    #ptjs .pyjsConter .IOS:hover {
      color: #ec6c00; }

















