#lb{
  width: 100%;
  margin: 0 auto;
  position: relative;
  .content{
    width: 100%;
    height: 500px;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      display: none;
    }

  }
  .arc{
    position: absolute;
    bottom: 20px;
    left: 45%;
    div{
      width:15px;height:15px;background:#ff1111;float:left;margin: 0 5px;
    }
  }
}