#hzhb{
    width: 1136px;
    margin: 0 auto;
    height: 500px;
    h1{
        width: 100%;
        text-align: center;
        margin: 10px 0;
        color: #b8b8b8;
    }
    h4{
        width: 100%;
        text-align: center;
        margin: 10px 0;
        color: #26d7bd;
    }
    p{
        width: 100%;
        text-align: center;
        margin: 10px 0;
        color: #b8b8b8;
    }
    .shangjia{
        width: 500px;
        height: 80px;
        margin-left: 368px;
        li{
            float: left;
            margin: 0 20px;
            font-size: 20px;
            color: #b8b8b8;
        }
        li:hover{
            cursor:pointer;
        }
        .index_hzhb_colorAndBorder{
            color: #00ab88;
            border-bottom: 3px solid #00ab88;
        }
    }
    .suoyou,.hezuo,.wuye{
        width: 100%;
        li{
            width: 225px;
            height: 140px;
            float: left;
                img{
                  width: 200px;
                    height: 120px;
                    margin:0 10px 10px 0;
                }
                img:hover{
                    transform:scale(1.2);
                }

        }
    }
    .hezuo,.wuye{
        display: none;
    }
}