<div id="xw">
    <div class="xw">
        <h1>亿街区新闻</h1>
        <h3>公司动态及媒体报道</h3>
        <h5>亿街区最新动态第一时间跟踪阅读</h5>
        <div class="xw_left">
            <a href="#">
                <i></i>
                <h2>公司动态</h2>
            </a>
            <ul>
                <% for (let i=0;i<Content.indexUrl.length;i++){ %>
                <li><a href="#"></a></li>
                <% } %>
            </ul>
        </div>
        <div class="xw_mid"></div>
        <div class="xw_right"></div>
    </div>
</div>