<div id="lb">
    <div class="content">
        <img src="/images/index/index_lb/1.jpg">
        <img src="/images/index/index_lb/2.jpg">
        <img src="/images/index/index_lb/3.jpg">
        <img src="/images/index/index_lb/4.jpg">
        <img src="/images/index/index_lb/5.jpg">
    </div>
    <div class="arc"></div>
</div>
