<div id="ptjs">
    <div class="pyjsConter">
        <div class="ptjs_title">
            <h1>平台介绍</h1>
            <p>亿街区致力于打造可靠的智慧社区服务平台</p>
            <p>通过整合物业、商家的方式，提供全方位的智慧社区服务，让用户足不出户，臻享"亿"想不到的生活。</p>
        </div>
        <ul class="threeBlock_s">
            <li class="threeBlock threeBlock1" style="margin:0">
                <a href="#" class="bg_img1">
                    <i class="threeBlockLog threeBlock1Log1 "></i>
                    <h3>亿街区简介</h3>
                </a>
                <p>亿街区是一款面向全国中高端社区构建的集住户、物业、商家共通共享的智慧社区服务平台，融社区基础服务、公共服务及O2O垂直服务资源为一体，为用户打造可靠的本地化一站式智慧社区居家服务模式。 </p>
            </li>
            <li class="threeBlock threeBlock2">
                <a href="#" class="bg_img2">
                    <i class="threeBlockLog threeBlock1Log2"></i>
                    <h3>功能介绍</h3>
                </a>
                <p>亿街区致力于打造可靠的智慧社区服务平台，现已实现 工程报修、物业缴费、物业即时送、在线商城、线上报名、摇摇开门等多种智慧社区服务。 </p>
            </li>
            <li class="threeBlock threeBlock3">
                <a href="#" class="bg_img3">
                    <i class="threeBlockLog threeBlock1Log3"></i>
                    <h3>APP下载</h3>
                </a>
                <div class="down ">
                    <div class="Android">Android下载</div>
                    <div class="IOS">IOS下载</div>
                </div>
            </li>
        </ul>
    </div>
</div>
