<div id="xw">
    <div class="xw">
        <h1>亿街区新闻</h1>
        <h3>公司动态及媒体报道</h3>
        <h5>亿街区最新动态第一时间跟踪阅读</h5>
        <div class="xw_left">
            <a href="#">
                <i></i>
                <h2>公司动态</h2>
            </a>
            <ul>
                <%# for (let i=0;i<Content.uploadYjqxw.length;i++){
                    if(Content.uploadYjqxw[i].kind=="公司动态"){
                %>
                <li><a href="#"><%#= Content.uploadYjqxw[i].title %></a></li>
                <%# }} %>
            </ul>
        </div>
        <div class="xw_mid">
            <a href="#">
                <i></i>
                <h2>媒体报道</h2>
            </a>
            <ul>
                <%# for (let i=0;i<Content.uploadYjqxw.length;i++){
                if(Content.uploadYjqxw[i].kind=="媒体报道"){
                %>
                <li><a href="#"><%#= Content.uploadYjqxw[i].title %></a></li>
                <%# }} %>
            </ul>
        </div>
        <div class="xw_right">
            <a href="#">
                <i></i>
                <h2>市场活动</h2>
            </a>
            <ul>
                <%# for (let i=0;i<Content.uploadYjqxw.length;i++){
                if(Content.uploadYjqxw[i].kind=="市场活动"){
                %>
                <li><a href="#"><%#= Content.uploadYjqxw[i].title %></a></li>
                <%# }} %>
            </ul>
        </div>
    </div>
</div>