<div id="jmhz">
    <div class="jmhzConter">
        <div class="jmhz_title">
            <h1>加盟合作</h1>
            <p>如何成为亿街区的加盟商</p>
            <p>协助挖掘用户个性化需求、提供针对性的解决方案</p>
        </div>
        <div class="jmhz_block">
            <a href="#" class="jmhz_block1">
                <div class="jmhz_block_title">
                    <h2>物业加盟</h2>
                </div>
                <div class="jmhz_block_text textborder">
                    <i class="wuyeico"></i>
                    <p> 亿街区为社区物业团队提供精细化、前瞻性、人性化的智慧社区管理服务平台，通过整合用户数据、沟通统筹管理的方式，协助物业项目建设智慧社区，提升自身服务质量，提高用户满意度。 </p>
                </div>
            </a>
            <a href="#" class="jmhz_block2">
                <div class="jmhz_block_title">
                    <h2>商家加盟</h2>
                </div>
                <div class="jmhz_block_text ">
                    <i class="shangjiaico"></i>
                    <p>  亿街区智慧社区服务覆盖住宅、写字楼、社区配套商业、综合商业设施多种业态，拥有超过12万的高净价值用户资源，为商家提供运营架构顺畅而完整的闭环，以及获取盈利与支持的便利性。 </p>
                </div>
            </a>
        </div>
    </div>
</div>