<div id="yxal">
    <div class="yxalConter">
        <div class="yxal_title">
            <h1>优秀案例</h1>
        </div>
        <div class="yxal_block">
            <a href="#" style="background:url('public/images/1480997604003.jpg')"></a>
            <a href="#" style="background:url('public/images/1480997817147.jpg')"></a>
            <a href="#" style="background-image:url('public/images/1480998081040.jpg')"></a>
            <a href="#" style="background-image:url('public/images/1480998222261.jpg')"></a>
            <a href="#" style="background-image:url('public/images/1480998361574.jpg')"></a>
            <a href="#" style="background-image:url('public/images/1481184917018.jpg')"></a>
        </div>
    </div>
</div>