<div id="index_gywm">
    <div class="gywm">
        <h1>关于我们</h1>
        <h3>如何成为亿街区的加盟商</h3>
        <h5>快速成长中的互联网团队，极具上升性的发展平台</h5>
        <div class="tdjs">
            <a href="#">
                <i></i>
                <h2>团队介绍</h2>

            <p>
                亿街区的核心团队来自百度、阿里巴巴、搜狐等知名网站及远洋地产、华润置地等大型物业公司，互联网及房产物业经验丰富。
            </p>
            </a>
        </div>
        <div class="zxns">
            <a href="#">
                <i></i>
                <h2>招贤纳士</h2>

            <p>
                亿街区是一家提供智慧社区专业服务的互联网公司，实行扁平化管理，为员工提供了极具上升性的发展平台；五险一金、有竞争力的薪酬福利为员工的日常生活带来更稳定的保障。
            </p>
            </a>
        </div>
        <div class="lxwm">
            <a href="#">
                <i></i>
                <h2>联系我们</h2>

            <p>亿街区的核心团队来自百度、阿里巴巴、搜狐等知名网站及远洋地产、华润置地等大型物业公司，互联网及房产物业经验丰富。 </p>
            </a>
        </div>

    </div>
</div>