<div id="yxal">
    <div class="yxalConter">
        <div class="yxal_title">
            <h1>优秀案例</h1>
        </div>
        <div class="yxal_block">
            <% for(var i=0;i<6;i++){ %>
                <a href="<%= Content.indexUrl[1].url %>?id=<%= Content.uploadYxal[i].url_id %>" style="background:url('<%=  Content.uploadYxal[i].image_href %>');background-size:cover;">
                    <div class="blockhover"></div>
                    <div class="yxal_text">
                        <p><%=  Content.uploadYxal[i].title %></p>
                        <div class="none">
                            <span>查看详情</span>
                        </div>
                    </div>
                </a>
            <% } %>
        </div>
    </div>
</div>