<% include ../header.ejs %>

<script src="/lib/jquery-3.1.1.min.js"></script>
<script src="/javascripts/yjqxw/yjqxw.js"></script>
<% include ../nav.ejs %>

<h1>大家好，我是新闻页</h1>

<% include ../footer.ejs %>