<% include ../header.ejs %>
<link rel="stylesheet" href="/stylesheets/ejqxw/ejqxw.css">
<script src="/lib/jquery-3.1.1.min.js"></script>
<script src="/javascripts/yjqxw/yjqxw.js"></script>
<% include ../nav.ejs %>

<div id="yjqxw">
    <div class="yjqxw-banner"></div>
    <ul class="news-category clearfix">
        <img src="/images/yjqxw/"
        <!-- TODO js获取news-category-item 类的宽度-->
        <li class="news-category-item news-scaning is-active">
            <a href="#">全部</a>
        </li>
    </ul>
    <ul class="news-articles">
        <li class="news-item clearfix">
            <a href="#"><img src="#" alt="新闻图片"></a>
            <div class="news-abstract">
                <em>2017-01-01</em>
                <h2><a href="#">亿街区发力报事报修功能 务满意度</a></h2>
                <div class="hr-line"></div>
                <span><a href="#">详情信息&nbsp;&nbsp;&gt;</a></span>
            </div>
        </li>
    </ul>
</div>


<% include ../footer.ejs %>