* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

<<<<<<< HEAD
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid #f8f8f8;

    .nav {
        width: 1136px;
        margin: 0 auto;

        .log {
            float: left;
            margin-top: 10px;
        }

        ul {
            line-height: 80px;
        }

        li {
            float: right;
            padding: 0 20px;
        }
    }
=======
#header{
    width: 100%;
    height: 80px;
    background:#fff;
    .margin_top{
        position: fixed;
        right:0;
        left: 0;
        width: 100%;
        height: 80px;
        border-bottom: 1px solid #f8f8f8;
        background-color: #fff;
        z-index: 999999999;
    }
.nav{
    width:1136px;
    margin: 0 auto;

.log{
    float:left;
    margin-top:10px;
margin-right: 120px;
}
ul{
    line-height: 80px

}
li{
    float: left;
    padding:0 20px;
    a {
        color: #000;
    }
}
}
>>>>>>> fe473c82aa1bf5f37bf5135f6efc9f09b8135808
}
