<div id="footer_background">
    <div class="footer">
        <div class="foot_left">
            <img src="/images/footer/incontact.png" alt="test">
            <% for (let i=0;i<Content.footer_url.length;i++){%>
            <span><a href="<%= Content.footer_url.url %>>">法律声明</a></span>
            <% } %>
            <p><b class="color_green">亿街区---我们的亿时代</b></p>
            <p>Copyright 2015-2020 All Rights Reserved bjyijiequ.com co.,ltd.</p>
            <p><b class="color_green">Add</b>：北京市朝阳区慈云寺北里210号远洋国际中心E座10层   <b class="color_green">Code：</b>100025 </p>
            <p><b class="color_green">Tel：</b>+86（10）5083 1293   Fax：+86（10）5083 1570   <b class="color_green">E-mail：</b>niejj@sinooceanland.com   京ICP备1519425867号</p>
        </div>
        <div class="foot_right">
            <b class="color_green">
                关注我们:
            </b>
            <ul>
                <li>
                    <div class="erweima_weib">
                        <img class="erweima" src="/images/footer/weibo_er.png" alt="微博二维码">
                    </div>
                    <img class="footer_sian" src="/images/footer/sian.png" alt="微博">
                </li>
                <li>
                    <div class="erweima_weix">
                        <img class="erweima" src="/images/footer/weixing_er.png" alt="微信二维码">
                    </div>
                    <img class="footer_weixing" src="/images/footer/wei.png" alt="微信">
                </li>
                <li>
                    <div class="erweima_app">
                        <img class="erweima" src="/images/footer/app_er.png" alt="app二维码">
                    </div>
                    <img class="footer_app" src="/images/footer/app.png" alt="app">
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
<script src="/javascripts/footer/footer.js"></script>
</html>