<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/header/header.css">
    <link rel="stylesheet" href="/stylesheets/footer/footer.css">
    <link rel="stylesheet" href="/stylesheets/rightBar/rightBar.css">