</head>
<body>
<div id="header">
  <div class="margin_top">
    <div class="nav">

      <a href="#">
        <img class="log" src="/images/header/logo.png">
      </a>
      <ul>
        <li><a href="#">平台介绍</a></li>
        <li><a href="#">平台介绍</a></li>
        <li><a href="#">平台介绍</a></li>
        <li><a href="#">平台介绍</a></li>
        <li><a href="#">平台介绍</a></li>
        <li><a href="#">平台介绍</a></li>
        <li><a href="#">平台介绍</a></li>
        <li><a href="#">平台介绍</a></li>
      </ul>

    </div>
  </div>

</div>