</head>
<body>
<div id="header">
  <div class="nav">
    <img class="log" src="/images/header/logo.png">
    <ul>
      <li><a href="#">平台介绍</a></li>
      <li><a href="#">平台介绍</a></li>
      <li><a href="#">平台介绍</a></li>
      <li><a href="#">平台介绍</a></li>
      <li><a href="#">平台介绍</a></li>
      <li><a href="#">平台介绍</a></li>
      <li><a href="#">平台介绍</a></li>
      <li><a href="#">平台介绍</a></li>
    </ul>
  </div>
</div>