</head>
<body>
<div id="header">
  <div class="margin_top">
    <div class="nav">
      <a href="/index.html">
        <img class="log" src="/images/header/logo.png">
      </a>
      <ul>
        <% for(let i=1;i<Content.navUrl.length;i++){ %>
        <li>
          <a href="<%= Content.navUrl[i].url %>">
            <%= Content.navUrl[i].about %>
          </a>
        </li>
        <% } %>
      </ul>
      <div class="btn block"></div>

    </div>
  </div>

</div>