</head>
<body>
    <!--此处写导航-->
    <table border="1">
      <thead>
      <tr>
        <th>id</th>
        <th>名字</th>
        <th>年龄</th>
        <th>3333</th>
      </tr>
      </thead>
      <tbody>
      <% for(var i = 0;i < navUrl.length;i++){
       var nU = navUrl[i]; %>
      <tr>
        <td><%= nU.id %></td>
        <td><%= nU.name %></td>
        <td><%= nU.url %></td>
        <td><%= nU.about %></td>
      </tr>
      <% } %>
      </tbody>
    </table>