</head>
<body>
<div id="header">
  <div class="margin_top">
    <div class="nav">

      <a href="#">
        <img class="log" src="/images/header/logo.png">
      </a>
      <ul>
        <% for(var i=1;i<indexContent.navUrl.length;i++){ %>
        <li>
          <a href="<%= indexContent.navUrl.url[i]%>">
            <%= indexContent.navUrl.about[i] %>
          </a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>

</div>