</head>
<body>
<div id="header">
  <div class="margin_top">
    <div class="nav">

      <a href="#">
        <img class="log" src="/images/header/logo.png">
      </a>
      <ul>
        <% for(let i=1;i<Content.navUrl.length;i++){ %>
        <li>
          <a href="<%= Content.navUrl.url[i]%>">
            <%= Content.navUrl.about[i] %>
          </a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>

</div>