	<div id="side-bar">
		<ul>
			<li class="sidebar-item sidebar-tel">
				<div class="sidebar-hide-wraper">
					<div class="sidebar-hide tel-hide">
						<span>400-641-8085</span>
						<img src="/images/rightBar/righ_jiao.png">
					</div>
				</div>
			</li>
			<li class="sidebar-item sidebar-app has-qr">APP
				<div class="sidebar-hide-wraper">
					<div class="sidebar-hide">
						<img src="/images/rightBar/erweimaxp.jpg" alt="" class="qr-code">
						<img class="corner" src="/images/rightBar/righ_jiao.png">
					</div>
				</div>
			</li>
			<li class="sidebar-item has-qr sidebar-wechat">
				<div class="sidebar-hide-wraper">
					<div class="sidebar-hide">
						<img src="/images/rightBar/erweimaxp.jpg" alt="" class="qr-code">
						<img class="corner" src="/images/rightBar/righ_jiao.png">
					</div>
				</div>
			</li>
			<li class="sidebar-item has-qr sidebar-weibo">
				<div class="sidebar-hide-wraper">
					<div class="sidebar-hide">
						<img src="/images/rightBar/sinawei1.jpg" alt="" class="qr-code">
						<img class="corner" src="/images/rightBar/righ_jiao.png">
					</div>
				</div>
			</li>
			<li class="sidebar-item sidebar-top">
				<a href="#">TOP</a>
			</li>
			<li class="sidebar-item sidebar-example">
				<a href="/yxal/yxal.html"></a>
			</li>
		</ul>
		<div class="join-us">
			<a href="#"><img src="/images/rightBar/jiameng.gif"></a>
		</div>
	</div>
<script>
	(function() {
		if( location.href = "/index.html") {
			$("#side-bar .join-us").css("display","none");
		}
	})();
</script>
