<% include ../header.ejs %>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/stylesheets/gywm/gywm.css">
<link rel="stylesheet" href="/stylesheets/rightBar/rightBar.css">
<script src="/lib/jquery-3.1.1.min.js"></script>

<% include ../nav.ejs %>
<% include ../rightBar.ejs %>
<div id="gywm">
    <div class="gywm-banner"></div>
</div>




<% include ../footer.ejs %>